.job-alert-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.job-alert-modal {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 90%;
    max-width: 500px;
}

.form-group {
    margin-bottom: 1em;
}

.form-group label {
    display: block;
}

.form-group input[type="checkbox"] {
    margin-right: 10px;
}

