.search-bar-container {
    margin-top: 20px; /* adjust as necessary */
    width: 100%; /* ensures full width */
    display: flex;
    justify-content: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.job-list-container {
    width: 100%; /* ensures full width */
    display: flex;
    justify-content: center;
    margin-top: 20px; /* adjust as necessary */
}

.search-input {
    width: 100%; /* Adjust the width as needed */
}

.search-bar-container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    padding: 1rem;
    width: 70%; /* Adjust the width as necessary */
    margin-left: auto; /* These two margin properties ensure */
    margin-right: auto; /* the container is centered horizontally */
}

.search-form {
    display: flex;
    width: 50%; /* Adjust the width as necessary */
    border: 1px solid #ddd; /* Border color as per your design */
    border-radius: 20px; /* Rounded borders for the search bar */
    overflow: hidden; /* Ensures inner elements conform to border radius */
}

.search-input {
    flex-grow: 1;
    border: none;
    padding: 0.5rem 1rem;
}

.search-button {
    background-color: #007bff; /* Button color as per your design */
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.search-input:focus, .search-button:focus {
    outline: none;
}

.search-button:hover {
    background-color: #0056b3; /* Darker shade for hover state */
}
